<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="hero">
  <div class="hero-content">
    <img src="assets/basti-ki-pathshala-home.webp" alt="Basti Ki Pathshala" />
    <div class="hero-text">Basti Ki Pathshala Foundation</div>
    <div class="hero-text2">Join us in our mission to break the barriers of education in underserved communities. With your support, we can provide quality education to children living in slum areas, empowering them with the knowledge and skills they need to build a brighter future. Together, let’s make a difference. Take action today and be a part of the change!</div>
  </div>

  <div class="home-button">
    <button class="button" type="button">Donate Now</button>
  </div>
</section>

<section class="our-work">
  <div class="container">
    <div class="work-image">
     <img src="assets\basti-ki-pathshala-home_files\our-work-image.jpg" width="auto" height="650px" alt="Our_Work_Image" >
    </div>
    <div class="work-text-title">
         <h4 style="font-size: 45px;">Lighting the Path to Change with Basti Ki Pathshala Foundation</h4>

         <div class="work-text-summary">
             At Basti Ki Pathshala Foundation, we are more than just an organization – we are a movement, driven by the belief that education is the cornerstone of empowerment. Established under the Indian Societies Act of 1860, we stand as a beacon of hope in underserved communities, dedicated to breaking the chains of poverty through the transformative power of learning.
          
            <p>Join us in our quest to rewrite the narrative of education, one success story at a time. Together, let’s build a world where every child has the opportunity to dream, to learn, and to soar. Welcome to Basti Ki Pathshala Foundation – where hope is our currency, and education is our legacy.</p>
         </div>

         <div class="work-button">
         <button class="button2" type="button">Donate</button>
         </div>
    </div>
  </div>
</section>

<section class="join-our-team">
  <div class="container2">
    <div class="join-our-team-image">
    <img src="assets\join-our-team-image.jpeg" alt="Join Our Team Image" width="800px" height="724px">
    </div>
    <div class="join-our-team-title">
     <h4> JOIN OUR TEAM</h4>

      <div class="join-our-team-summary">
      <p>At Basti Ki Pathshala Foundation, we’re not just building a team; we’re assembling a force for change. As we continue our mission to break barriers and empower communities through education, we invite passionate individuals to join us in making a tangible difference in the lives of underserved children.</p>
      Whether you’re a seasoned educator, a community organizer, or simply someone with a heart for social impact, there’s a place for you in our team. Together, we’ll collaborate, innovate, and inspire, working towards a future where every child has the opportunity to thrive.
      <p>Join us in this rewarding journey of transformation. Together, let’s pave the way for brighter tomorrows and empower futures, one child at a time.</p>

      <div class="work-button">
         <button class="button2" type="button">Donate</button>

         <div class="about">
         <button class="about-us" type="button">About Us</button>
         </div>

         </div>

         
    </div>
    </div>
    
  </div>
  
</section>

</body>
</html>
